extends layout

block content
  script(src="../javascripts/game.js")
  div#game-container
    h1 The Game Begins!
    h2 Welcome 
      em#name #{name}
    ul
      li Health:
        span#health #{health}
      li Points:
        span#points #{points}
      li Highscore:
        span#highscore #{highscore}
      li Inventory: 
        em
          span#items #{items}
      li Current room: 
        em
          span#room #{room}

    button#reset-points Reset highscore
    button#add-point Add point

    br
    br

    input#text-input(type="text")
    button#submit Submit command

    br
    br

    div#cmd-container
  div#chat-container