extends layout

block content
  script(src="javascripts/game.js")
  h1= game
  p Welcome #{userName}
  ul
    li#health Health: #{healthPoints}
    li#points Points: #{points}
    li#highscore Highscore: 0
    li#status Status: #{status}

  button#reset-points Reset highscore
  button#add-point Add point
  
  br
  br
  
  input#command-input(type="text")
  button#submit-btn Submit command

  br
  br

  div#cmd-container