extends layout

block content
  h1= game
  p Welcome #{userName}
  ul
    li#health Health: #{healthPoints}
    li#points Points: #{points}
    li#highscore Highscore: 0
    li#status Status: #{status}

  button(onclick="resetHighscore()") Reset highscore
  button(onClick="addPoint()") Press X to Jason
  
  br
  br
  
  input#command-input(type="text", name=`${userName}`)
  button#submit-btn(onClick="getDirection()") Submit command