extends layout

block content
  script(src="../javascripts/game.js")
  h1 The Game Begins!
  p Welcome #{name}
  ul
    li#health Health: #{health}
    li#points Points: #{points}
    li#highscore Highscore: #{highscore}
    li#room Current room: #{room}

  button#reset-points Reset highscore
  button#add-point Add point
  
  br
  br
  
  input#commands(type="text")
  button#submit Submit command

  br
  br

  div#cmd-container