extends layout

block content
  script(src="/javascripts/score.js")

  h1#game Game:
  p#name Welcome #{name}
  ul
    li#health Health: #{health}
    li#points Points: #{points}
    li#highscore Highscore: 0
    li#status Status: #{status}

  button(onclick="resetHighscore()") Reset highscore
  button(onClick="addPoint()") Press X to Jason
  
  br
  br
  
  input#command-input(type="text", name=`${userName}`)
  button#submit-btn() Submit command